@import url('https://fonts.googleapis.com/css?family=Abel|Anton|Roboto|Fjalla+One&display=swap');
/* asd */
html, body{
    margin: 0;
    padding: 0;
}
.royalGymLogo{
    width: 100px;
}
.nav-link{
    font-size: 1.1em;
}
.row{
    margin: 0;
}
#showcase{
background: rgb(0,0,0);
background: radial-gradient(circle, rgba(0,0,0,0) 0%, rgba(215,215,215,1) 100%);
}
#showcaseGym{
    background-image: url('../images/bggym2.png');
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: center;
    background-attachment: fixed;
}
#showcaseFitman{
    height: 60vh;
    min-height: 500px;
    background-image: url('../images/fitman.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: auto 100%;
}
#sloganContainer{
    background-color: rgba(255, 255, 255, 0.8);
}
.sloganBtn{
    background-color:  #ff5733;
    border: 1px solid #ff5733;
    font-size: 1.4em;
    color: #fff;
    transition: all .3s;
}
.sloganBtn:hover{
    background-color: #f17c62;
    transform: translateY(-1px);
    transition: all .3s;
}
#icons{
    background-image: url('../images/groupworkout.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.bg-transparentWhite{
    background-color: rgba(255, 255, 255, 0.5);
}
.py-section{
    padding: 100px 0px 50px 0px;
}
.py-section-100{
    padding: 100px 0px 100px 0px;
}
.bayLeavesImg{
    max-width: 80px;
}
.bayLeavesReverse{
    transform: scaleX(-1);
}
.font-anton{
    font-family: 'Anton';
}
.font-abel{
    font-family: 'Abel'
}
.font-roboto{
    font-family: 'Roboto';
}
.font-fjallaone{
    font-family: 'Fjalla One';
}
.bg-darkness{
    background-color: rgb(19, 19, 19);
}
.bg-greenyellow{
    background-color: greenyellow;
}
.bg-greenyellow:hover{
    background-color: rgb(145, 216, 39);
}
.bg-darkolivegreen{
    background-color: darkolivegreen;
}
.bg-darkolivegreen:hover{
    background-color: rgb(66, 83, 36);
}
.bg-hotpink{
    background-color: hotpink;
}
.bg-hotpink:hover{
    background-color: rgb(224, 93, 159);
}
.bg-cyan{
    background-color: cyan;
}
.bg-cyan:hover{
    background-color: rgb(5, 223, 223);
}
.bg-cornflowerblue{
    background-color: cornflowerblue;
}
.bg-cornflowerblue:hover{
    background-color: rgb(81, 122, 199);
}
.bg-burlywood{
    background-color: burlywood;
}
.bg-burlywood:hover{
    background-color: rgb(190, 159, 119);
}
.bg-mediumpurple{
    background-color: mediumpurple;
}
.bg-mediumpurple:hover{
    background-color: rgb(118, 91, 173);
}
.bg-palegreen{
    background-color: palegreen;
}
.bg-palegreen:hover{
    background-color: rgb(121, 196, 121);
}
.bg-wheat{
    background-color: wheat;
}
.bg-wheat:hover{
    background-color: rgb(214, 195, 159);
}
.bg-dodgerblue{
    background-color: dodgerblue;
}
.bg-dodgerblue:hover{
    background-color: rgb(24, 115, 207);
}
.bg-orangered{
    background-color: #ff5733;
}
td.bg-orangered:hover, a.bg-orangered:hover, button.bg-orangered:hover{
    background-color: rgb(207, 73, 43);
}
.bg-forestgreen{
    background-color: forestgreen;
}
.bg-forestgreen:hover{
    background-color: rgb(28, 114, 28);
}
.bg-crimson{
    background-color: crimson;
}
.bg-crimson:hover{
    background-color: rgb(182, 18, 51);
}
.bg-mediumturquoise{
    background-color: mediumturquoise;
}
.bg-mediumturquoise:hover{
    background-color: rgb(64, 189, 185);
}
.bg-gold{
    background-color: gold;
}
.bg-gold:hover{
    background-color: rgb(228, 195, 7);
}
.sponsorImg{
    width: 120px;
    padding: 10px;
}
.customerImg{
  max-width: 150px;
}
.gymEquipmentImg{
    max-width: 250px;
}
.text-orangered{
    color: #d44221; 
}
.bg-creamy{
    background-color: #ebebeb;
}
.bg-silver{
    background-color: #b8b8b8;
}
.text-silver{
    color: #b8b8b8;
}
.bg-gray{
    background-color: #343239;
}
.carousel-indicators li{
    background-color: #ff5733;
}
.carousel-control-next, .carousel-control-prev{
    width: 100%;
}
#topQuote{
    top: -20px;
    left: -20px;
}
#bottomQuote{
    bottom: -20px;
    right: -20px;
}
.feedbackBtn{
    display: none;
}
.collapseComment:not(.show){
    display: block !important;
}
.nav-link{
    font-size: 1.3em;
    transition: all .3s;
}
.nav-link:hover{
    transform: translateY(-1px);
    transition: all .3s;
}
table{
    background-color: black;
}
table td{
    vertical-align: middle !important;
    text-align: center;
    padding: 1em;
    border-right: 1px solid #343239;
    border-bottom: 1px solid #343239;
}
table thead td{
    position: sticky;
    top: 125px;
}
table tbody td:not(:first-child){
    font-size: 1.1em;
    transition: all .2s;
}
table tbody td:not(.nbsp):not(:first-child){
    cursor: pointer;
    transition: all .2s;
}
table{
    border-spacing: 0px;
    border-collapse: separate;
    box-shadow: 5px 5px 100px 50px rgba(255, 255, 255, 0.788);
}
table div{
    justify-content: center;
}
.bg-transparent{
    background-color: transparent;
}
.empty{
    display: none;
}
.btnPreviousDay, .btnNextDay{
    display: none;
}
.classImg{
    max-width: 250px;
}

.classDescription{
    font-family: 'Abel';
    font-size: 1.2em;
}
.navbar{
    margin-right: 0 !important;
}
.modal-backdrop{
    overflow-y: scroll;
}
#timetable{
    background-image: url('/images/classesbg.png');
    background-repeat: no-repeat;
    background-position: 0 0;
    background-attachment: fixed;
}
#offers{
    background-image: url('/images/bggym.png');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#contact{
    background-image: url('/images/ropes.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.map-responsive{
    overflow:hidden;
    position:relative;
    height:100%;
    min-height: 500px;
    z-index: 2;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.white-light{
    box-shadow: 5px 5px 100px 50px rgba(255, 255, 255, 0.788);
}
#team{
    background-image: url('/images/bggym3.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
.gallery-link{
    cursor: pointer;
}
.btnPreviousImage, .btnNextImage{
    top: 50%;
    z-index: 2;
    transform: translateY(-50%);
}
.btnPreviousImage{
    left: 15px;
}
.btnNextImage{
    right: 15px;
}
.btn:focus {
    box-shadow: none;
}
#modalGallery{
    padding-right: 0px !important;
}
@media only screen and (max-width: 1366px){
    #slogan p{
        font-size: 3.5em;
    }
    #slogan h2{
        font-size: 1.3em;
    }
}
@media only screen and (max-width: 1199px){
    #showcaseFitman{
        background-position-x: center;
    }
    #sloganContainer{
        margin: auto;
    }
    #slogan{
        text-align: center;
    }
    #slogan p{
        font-size: 3.2em;
    }
    #slogan h2{
        font-size: 1.5em;
    }
}
@media only screen and (min-width: 768px){
    table td:not(.empty){
        display: table-cell !important;
    }
    .card-container{
        max-width: 310px;
    }
    .trainer-container{
        max-width: 500px;
    }
}
@media only screen and (max-width: 767px){
    .sectionTitle{
        font-size: 2em;
    }
    .feedbackBtn{
        display: inline-block;
    }
    .collapse:not(.show){
        display: none !important; 
    }
    #smHours{
        display: none;
    }
    table td:not(:nth-child(1)):not(:nth-child(2)){
        display: none;
    }
    table td:first-child{
        width: 30%;
    }
    .btnPreviousDay, .btnNextDay{
        display: block;
    }
    table div{
        justify-content: space-between;
    }
    table{
        width: 80%;
    }
    table tbody td{
        height: 65px;
    }
    .contact-col{
        border-right: none !important;
    }
}